span::before{
    font-size: 25px;
}
.button{
    display: flex;
    background-color: transparent;
        border:none;
        text-decoration: none;
    .btn{
        display: flex;
        background-color: transparent;
        border:none;
        text-decoration: none;
    }
}