$color-light: #fff;
$color-dark: #4b68a8;
$color-success: #7fd7f9;
$color-warning: #e1644e;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 10px;
$transition: all 0.5s;
$font-family :cursive;
