.container{
    display: flex;
    justify-content: center;
    .inputContainer{
        position: relative;
        display: inline-flex;
        max-width:500px;
        width:100%;
        margin-bottom: 40px;
    }
    .input{
        padding-right: 30px;  
        width:100%;
        height:30px;
        text-align: center;
        color:#464689;
    }
    .searchIcon {
        position: absolute;
        top:25%;
        right: 10px;
        font-size: 15px; 
        color:#464689; 
        pointer-events: none; 
      }
}